*.log
.DS_Store
.env
/lumadent/.env
/lumadent/.env.backup
/lumadent/.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/lumadent/node_modules
/public_html/build
/public_html/hot
/public_html/storage
/lumadent/storage/*.key
/lumadent/storage/pail
/lumadent/vendor
/lumadent/build/deployment
Homestead.json
Homestead.yaml
Thumbs.db
